body{
    margin:0px;
    font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size:12px;
    background-image:url(imagens/fundo.png);
    min-width:900px;
    height:100%;
}
#topo{
    width:100%;
    height:150px;
    background-color:#ffffff;
    font-size:42px;
    text-align:center;
}
#menu{
    width:100%;
    height:35px;
    line-height:35px;
    background-color:#cccccc;
    border-bottom: 2px groove #0080ff;
    border-top: 2px groove #ffffff;
    text-align:center;
}
#menu a:link{
    text-decoration:none;
    color:#000000;
    display:inline-block;
    height:35px;
    width:100px;
}
#menu a:hover{
    text-decoration:none;
    color:#ffffff;
    background-color:#666666;
}
#menu a:visited{
    text-decoration:none;
    font-size:14px;
    color:#000000;
}
#corpo{
    width:90%;
    margin-left:5%;
    margin-right:5%;
    background-color:#ffffff;
    float:left;
}
.destaque{
    width:68%;
    padding:1%;
    float:left;
    background-color:#ffffff;
}
.destaque h1{
    font-size:30px;
    color:#333333;
}
.destaque h2{
    font-size:18px;
    color:#999999;
    border-bottom-width:2px;
    border-bottom-style:inset;
    border-bottom-color:#eaeaea;
}
.destaque img{
    margin-left:10%;
}
.publicidade{
    width:28%;
    padding:1%;
    background-color:#ffffff;
    float:right;
    text-align:center;
}
.publicidade img{
    margin-bottom:10px;
    margin-top:15px;
}
.publicidade fieldset{
    border: 1px solid #eaeaea;
}
.foto{
    width:100px;
    height:100px;
    border: 1px solid #666666;
    float:left;
    margin-right:5px;
}
.foto img{
    margin:0px;
}
.resumo{
    width:150px;
    height:100px;
    float:left;
    margin-right:40px;
}
.separador{
    height:4px;
    background-color:#cccccc;
    margin-bottom:20px;
}
#rodape{
    width:98%;
    height:200px;
    background-color:#666666;
    border-top: 2px groove #ffffff;
    clear:both;
    padding:1%;
    color:#ffffff;
}